In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn import datasets

In [3]:
boston = datasets.load_boston();   # importing inbuild dataset

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [4]:
x = boston.data
y = boston.target

In [5]:
x.shape

(506, 13)

In [6]:
x

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [7]:
df = pd.DataFrame(x)
print(boston.feature_names)
df.columns = boston.feature_names
df.describe()

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [8]:
from sklearn import model_selection
x_train, x_test,y_train,y_test = model_selection.train_test_split(x,y)  # by defalt it take 75% split

In [9]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [10]:
regressor.fit(x_train,y_train)

LinearRegression()

In [11]:
y_pred = regressor.predict(x_test)
train_score = regressor.score(x_train,y_train)
test_score = regressor.score(x_test,y_test)

print("train score" , train_score)
print("test_score" , test_score)

train score 0.7479326359865197
test_score 0.7036068338174745

In [12]:
print(boston.feature_names)
df.columns = boston.feature_names
df["age age"] = df.AGE**2
df.describe()

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,age age
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,5493.309545
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,3449.600164
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,8.410000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,2027.252500
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,6006.290000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,8850.107500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,10000.000000

In [13]:
x2 = df.values
print(x2.shape)
x2

(506, 14)

array([[6.32000e-03, 1.80000e+01, 2.31000e+00, ..., 3.96900e+02,
        4.98000e+00, 4.25104e+03],
       [2.73100e-02, 0.00000e+00, 7.07000e+00, ..., 3.96900e+02,
        9.14000e+00, 6.22521e+03],
       [2.72900e-02, 0.00000e+00, 7.07000e+00, ..., 3.92830e+02,
        4.03000e+00, 3.73321e+03],
       ...,
       [6.07600e-02, 0.00000e+00, 1.19300e+01, ..., 3.96900e+02,
        5.64000e+00, 8.28100e+03],
       [1.09590e-01, 0.00000e+00, 1.19300e+01, ..., 3.93450e+02,
        6.48000e+00, 7.97449e+03],
       [4.74100e-02, 0.00000e+00, 1.19300e+01, ..., 3.96900e+02,
        7.88000e+00, 6.52864e+03]])

In [14]:
from sklearn import model_selection
x_train, x_test,y_train,y_test = model_selection.train_test_split(x,y,random_state = 0)  # by defalt it take 75% split
x2_train, x2_test,y2_train,y2_test = model_selection.train_test_split(x2,y,random_state = 0)   

# in both case data generated is same as in random state  = 0

In [15]:
from sklearn.linear_model import LinearRegression
regressor1 = LinearRegression()

regressor2 = LinearRegression()

In [16]:
regressor1.fit(x_train,y_train)
regressor2.fit(x2_train,y2_train)

LinearRegression()

In [17]:
y_pred = regressor1.predict(x_test)
train_score = regressor1.score(x_train,y_train)
test_score = regressor1.score(x_test,y_test)

print("train score" , train_score)
print("test_score" , test_score)


train2_score = regressor2.score(x2_train,y2_train)
test2_score = regressor2.score(x2_test,y2_test)

print("train2 score" , train2_score)
print("test2_score" , test2_score)

train score 0.7697699488741149
test_score 0.635463843320211
train2 score 0.770724544991109
test2_score 0.6433109272342945

In [17]:
 # see by adding feature value age**age we are improving our testing score
 # like we can add many more feature like age * crim like this

 # but sometime it might reduse the training score